{% extends 'base.html' %}

{% block content %}

<h1> Alfa, alfa, alfa </h1>

<ul>
{% for post in object_list %}
    <p>
        <li><a href="{% url 'detailed-post' post.pk %}">{{post.title}}</a>, 
            <small> 
                <a href="{% url 'modify-post' post.pk %}"> edit, </a>
                <a href="{% url 'delete-post' post.pk %}"> delete </a> <br/>
            </small> 
        <small>{{post.author}} on {{post.time_created}}</small>
        <br/>
        {{post.body}}
        </li>
    </p>
{% endfor %}
</ul>

{% endblock %}